@charset "UTF-8";
/***** css set*****/
　　body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

　　table {
  border-collapse: collapse;
  border-spacing: 0;
}

　　fieldset, img {
  border: 0;
}

　　address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

　　ol, ul {
  list-style: none;
}

　　capation, th {
  text-align: left;
}

　　h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

　　q:before, q:after {
  content: ' ';
}

　　abbr, acronym {
  border: 0;
}

/*****文字排版*****/
　
　　.f12 {
  font-size: 12px;
}

　　.f13 {
  font-size: 13px;
}

　　.f14 {
  font-size: 14px;
}

　　.f16 {
  font-size: 16px;
}

　　.f20 {
  font-size: 20px;
}

　　.fb {
  font-weight: bold;
}

　　.fn {
  font-weight: normal;
}

　　.t2 {
  text-indent: 2em;
}

　　.lh150 {
  line-height: 150%;
}

　　.lh180 {
  line-height: 180%;
}

　　.lh200 {
  line-height: 200%;
}

　　.unl {
  text-decoration: underline;
}

　　.no_unl {
  text-decoration: none;
}

/*****定位*****/
　　.tl {
  text-align: left;
}

　　.tc {
  text-align: center;
}

　　.tr {
  text-align: right;
}

　　.bc {
  margin-left: auto;
  margin-right: auto;
}

　　.fl {
  float: left;
  display: inline;
}

　　.fr {
  float: right;
  display: inline;
}

　　.cb {
  clear: both;
}

　　.cl {
  clear: left;
}

　　.cr {
  clear: right;
}

　　.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

　　.clearfix {
  display: inline-block;
}

　　html .clearfix {
  height: 1%;
}

　　.Clearfix {
  display: block;
}

　　.vm {
  vertical-align: center;
}

　　.pr {
  position: relative;
}

　　.pa {
  position: absolute;
}

　　.abs-right {
  position: absolute;
  right: 0;
}

　　.zoom {
  zoom: 1;
}

　　.hidden {
  visibility: hidden;
}

　　.none {
  display: none;
}

/*****长度 高度*****/
　　.w10 {
  width: 10px;
}

　　.w20 {
  width: 20px;
}

　　.w30 {
  width: 30px;
}

　　.w40 {
  width: 40px;
}

　　.w50 {
  width: 50px;
}

　　.w60 {
  width: 60px;
}

　　.w70 {
  width: 70px;
}

　　.w80 {
  width: 80px;
}

　　.w90 {
  width: 90px;
}

　　.w100 {
  width: 100px;
}

　　.w200 {
  width: 200px;
}

　　.w300 {
  width: 300px;
}

　　.w400 {
  width: 400px;
}

　　.w500 {
  width: 500px;
}

　　.w600 {
  width: 600px;
}

　　.w700 {
  width: 700px;
}

　　.w800 {
  width: 800px;
}

　　.w {
  width: 100%;
}

　　.h50 {
  height: 50px;
}

　　.h80 {
  height: 80px;
}

　　.h100 {
  height: 100px;
}

　　.h200 {
  height: 200px;
}

　　.h {
  height: 100%;
}

/*****边距*****/
　　.m10 {
  margin: 10px;
}

　　.m15 {
  margin: 15px;
}

　　.m30 {
  margin: 30px;
}

　　.mt5 {
  margin-top: 5px;
}

　　.mt10 {
  margin-top: 10px;
}

　　.mt15 {
  margin-top: 15px;
}

　　.mt20 {
  margin-top: 20px;
}

　　.mt30 {
  margin-top: 30px;
}

　　.mt50 {
  margin-top: 50px;
}

　　.mt100 {
  margin-top: 100px;
}

　　.mb5 {
  margin-bottom: 5px;
}

　　.mb10 {
  margin-bottom: 10px;
}

　　.mb15 {
  margin-bottom: 15px;
}

　　.mb20 {
  margin-bottom: 20px;
}

　　.mb30 {
  margin-bottom: 30px;
}

　　.mb50 {
  margin-bottom: 50px;
}

　　.mb100 {
  margin-bottom: 100px;
}

　　.ml5 {
  margin-left: 5px;
}

　　.ml10 {
  margin-left: 10px;
}

　　.ml15 {
  margin-left: 15px;
}

　　.ml20 {
  margin-left: 20px;
}

　　.ml30 {
  margin-left: 30px;
}

　　.ml50 {
  margin-left: 50px;
}

　　.ml100 {
  margin-left: 100px;
}

　　.mr5 {
  margin-right: 5px;
}

　　.mr10 {
  margin-right: 10px;
}

　　.mr15 {
  margin-right: 15px;
}

　　.mr20 {
  margin-right: 20px;
}

　　.mr30 {
  margin-right: 30px;
}

　　.mr50 {
  margin-right: 50px;
}

　　.mr100 {
  margin-right: 100px;
}

　　.p10 {
  padding: 10px;
}

　　.p15 {
  padding: 15px;
}

　　.p30 {
  padding: 30px;
}

　　.pt5 {
  padding-top: 5px;
}

　　.pt10 {
  padding-top: 10px;
}

　　.pt15 {
  padding-top: 15px;
}

　　.pt20 {
  padding-top: 20px;
}

　　.pt30 {
  padding-top: 30px;
}

　　.pt50 {
  padding-top: 50px;
}

　　.pt100 {
  padding-top: 100px;
}

　　.pb5 {
  padding-bottom: 5px;
}

　　.pb10 {
  padding-bottom: 10px;
}

　　.pb15 {
  padding-bottom: 15px;
}

　　.pb20 {
  padding-bottom: 20px;
}

　　.pb30 {
  padding-bottom: 30px;
}

　　.pb50 {
  padding-bottom: 50px;
}

　　.pb100 {
  padding-bottom: 100px;
}

　　.pl5 {
  padding-left: 5px;
}

　　.pl10 {
  padding-left: 10px;
}

　　.pl15 {
  padding-left: 15px;
}

　　.pl20 {
  padding-left: 20px;
}

　　.pl30 {
  padding-left: 30px;
}

　　.pl50 {
  padding-left: 50px;
}

　　.pl100 {
  padding-left: 100px;
}

　　.pr5 {
  padding-right: 5px;
}

　　.pr10 {
  padding-right: 10px;
}

　　.pr15 {
  padding-right: 15px;
}

　　.pr20 {
  padding-right: 20px;
}

　　.pr30 {
  padding-right: 30px;
}

　　.pr50 {
  padding-right: 50px;
}

　　.pr100 {
  padding-right: 100px;
}

/******   header   ******/
/******   footer   ******/
body {
  font-size: 14px;
  color: #303233;
  font-family: '微软雅黑';
  background: #f6f6f6;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
a:focus, a:active {
  text-decoration: none;
}

.fgray {
  color: #aab0b3;
}

.plr5 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.mt1 {
  margin-top: 2px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mt5 {
  margin-top: 5px;
}

.mb5 {
  margin-bottom: 5px !important;
}

.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pb10 {
  padding-bottom: 10px;
}

.ptb12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pb12 {
  padding-bottom: 12px;
}

.borb {
  position: relative;
}
.borb:before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleY(0.5);
}

.bg {
  background: #f6f6f6 !important;
}

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs20 {
  font-size: 20px;
}

.fc80 {
  color: #808080;
}

.fcab {
  color: #abb0b2;
}

.txtcenter {
  text-align: center;
}

.bgwhite {
  background: #fff;
}

.label_info {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  color: #fff;
  padding: 0px 3px;
  background: #45b4fc;
  border-radius: 2px;
  position: relative;
  top: -1px;
}

.label_warning {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  color: #fff;
  padding: 0px 3px;
  background: #fdc225;
  border-radius: 2px;
  position: relative;
  top: -1px;
}

.label_error {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  color: #fff;
  padding: 0px 3px;
  background: #fd7843;
  border-radius: 2px;
  position: relative;
  top: -1px;
}

.label_success {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  color: #fff;
  padding: 0px 3px;
  background: #19cbb8;
  border-radius: 2px;
  position: relative;
  top: -1px;
}

.mes-label_success {
  display: inline-block;
  height: 12px;
  line-height: 12px;
  font-size: 10px;
  color: #fff;
  padding: 0px 3px;
  background: #19cbb8;
  border-radius: 2px;
  position: relative;
  top: -1px;
}

.gc-responsive {
  display: block;
  width: 100%;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 65px;
}

p {
  text-align: justify;
  overflow-x: hidden;
  overflow-y: hidden;
}

.pt7 {
  padding-top: 7px;
}

/******   详情页   ******/
.wrapper .box {
  margin-bottom: 10px;
  background: #fff;
}
.wrapper .box .row {
  background: #fff;
}
.wrapper .box .mes-time {
  font-size: 11px;
  color: #aab0b3;
}
.wrapper .box .img {
  width: 100%;
  padding-top: 100%;
  position: relative;
  display: block;
  background-size: cover;
  margin-bottom: 4px;
  position: relative;
}
.wrapper .box .img strong {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background: #333333;
  opacity: 0.8;
  padding: 2px 7px;
  font-size: 10px;
  font-weight: normal;
}
.wrapper .box .img strong img {
  position: relative;
  top: -1px;
}
.wrapper .box .pj-img {
  width: 100%;
  padding-top: 75%;
  position: relative;
  display: block;
  background-size: cover;
  margin-bottom: 4px;
  position: relative;
}
.wrapper .box .pj-img strong {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background: #333333;
  opacity: 0.8;
  padding: 1px 3px;
  font-size: 10px;
  font-weight: normal;
}
.wrapper .box .pj-img strong img {
  height: 10px;
  position: relative;
  top: -1px;
}
.wrapper .box .mes-img {
  padding-left: 10px;
  padding-right: 10px;
}
.wrapper .box .mes-img .plr5 {
  padding-bottom: 0px !important;
}
.wrapper .box .mes-address {
  font-size: 12px;
  color: #797e80;
}
.wrapper .box .mes-address img {
  height: 11px;
  position: relative;
  top: -1px;
}
.wrapper .box .zan-total {
  color: #9ba0a3;
}
.wrapper .box .zan-detail {
  display: flex;
}
.wrapper .box .zan-detail .zanl {
  flex: 1;
}
.wrapper .box .zan-detail .zanr {
  width: 40px;
}
.wrapper .box .zan-detail img {
  margin-right: 5px;
}
.wrapper .cmt .cmt-title {
  color: #9ba0a3;
  position: relative;
}
.wrapper .cmt .cmt-title:before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleY(0.5);
}
.wrapper .cmt .media:first-child {
  padding-top: 10px;
}
.wrapper .cmt .media .cmt-detail {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-right: -10px;
  padding-right: 10px;
  position: relative;
}
.wrapper .cmt .media .cmt-detail:before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleY(0.5);
}
.wrapper .cmt .media .cmt-detail span {
  color: #5f7b9e;
}
.wrapper .cmt .media:last-child .cmt-detail:before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleY(0.5);
}
.wrapper .face {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.wrapper .btn-upload {
  display: block;
  font-style: 16px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #05a6e2;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.no-found {
  width: 100%;
  height: 100vh;
  background: url(../images/404.png) center no-repeat;
  background-size: 300px;
  margin: 0 auto;
}

/******   工程实录   ******/
.box-list .row {
  background: #fff;
}

.lightgallery-list .col-xs-12 {
  margin-bottom: 10px;
}

.gc-upload {
  display: inline-block;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #05a6e2;
  color: #fff;
  border-radius: 2px;
}

.hot p {
  margin-bottom: 10px;
}
.hot p img {
  border-radius: 4px;
}
.hot p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 350px) {
  .client {
    line-height: 40px;
  }
}
/******   施工项目详情   ******/
.user-data {
  margin-top: -36px;
}
.user-data .user-face img {
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
}
.user-data .ud-name {
  color: #fff;
  margin-top: 8px;
}
.user-data .ud-mes {
  color: #888c8f;
  font-size: 11px;
  margin-top: 12px;
}
.user-data .ud-label {
  margin-top: 2px;
  display: flex;
}
.user-data .ud-label .udl {
  flex: 1;
}
.user-data .ud-label .udr {
  width: 66px;
  color: #abb0b2;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
}
.user-data .ud-label .udr img {
  height: 12px;
  position: relative;
  top: -2px;
}
.user-data .ud-label span {
  color: #fff;
  padding: 0px 3px;
  background: #ffb900;
  font-size: 11px;
  border-radius: 2px;
}
.user-data .ud-describe {
  color: #616566;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
  position: relative;
}
.user-data .ud-describe:before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleY(0.5);
}
.user-data .ud-bottom {
  background: #fff;
  line-height: 38px;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pj-wrapper {
  background: #fff;
  margin-top: 10px;
  padding-top: 10px;
}
.pj-wrapper .pj-box {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
}
.pj-wrapper .pj-box .row:last-child {
  position: relative;
}
.pj-wrapper .pj-box .row:last-child:before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleY(0.5);
}
.pj-wrapper .pj-box:last-child .row:last-child:before {
  content: '';
  display: block;
  width: 100%;
  border-bottom: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleY(0.5);
}
.pj-wrapper .ud-fr {
  text-align: right;
}

.col-xs-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.cmt-body {
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 10px;
}
.cmt-body .media-body {
  padding-right: 10px;
}
.cmt-body .media {
  margin-top: 6px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
